<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/bulbul.jpg" alt="Kei's Cat" class="img-thumbnail rounded-circle" width="200" />
            <h1 class="display-4">Keisha Athaya</h1>
            <p class="lead">Student | Leon's Wifey</p>
        </div>
    </div>
</div>